 *{
    font-size: 30px;
     border-radius: 10px;
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: orange    ;
}

.container-grid{
 
     
    display: flex;
    flex-direction: column;
    align-items: center;
    
     

}
#resultss{
    padding-right: 200px;
    padding-top: 20px ;
    font-size: 40px;
}
.calculator{
    display: grid;
    width: 600px;
    height: 600px;
    background-color: red;
    grid-template-columns: 1fr  1fr;
  
    gap: 10px;
}
.numbers{
    display: grid;
    grid-template-columns: repeat(5,1fr) ;
    grid-template-rows: repeat(3,1fr) ;
    grid-column: 1/6;
   gap: 2px;
}
 
 